* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen";
  --button-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", serif;
  font-size: 1.6rem;
}

/* common tags */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
  border-radius: 999px;
  background-color: black;
  padding: 0px 16px;
  line-height: 50px;
  min-width: 118px;
}

.btn:hover {
  opacity: 0.9;
}

/* header */

.header {
  background: #fff;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}

.header .body-header {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: yellowgreen;
  text-shadow: 1.5px 0px 0px currentColor;
}

.nav li.active a::after {
  position: absolute;
  display: block;
  content: "";
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: black;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

.hero {
  padding: 56px 0 65px;
  background-color: #fff;
}

.hero .body {
  display: flex;
}

/* Khối trái */

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  object-fit: cover;
  border-radius: 26px;
}

.hero .hero-summmary {
  padding: 20px;
  width: 180px;
  height: 250px;
  position: absolute;
  bottom: 30px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0);
}

.hero-summmary .item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.hero-summmary .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.hero-summmary .info {
  margin-left: 16px;
}

.hero-summmary .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86;
}

.hero-summmary .title {
  color: #171100;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

/* hero right */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .description {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .cta-group {
  margin-top: 38px;
  align-items: center;
  display: flex;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--button-color);
}

.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 43px;
  background-color: #fff;
}

.hero .watch-video span {
  color: #171100;
  margin-left: 14px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

.hero .stats {
  margin-top: 8px;
}
